<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <h1>Quiz App</h1>
    <form action="/" method="post" enctype="multipart/form-data" class="UpForm">
      <label for="pdf" class="UpLabel">Upload Your PDF File Here </label>
      <input id="pdf" type="file" accept=".pdf" class="defaultButton"/>
      <br><label id="pdf-label" for="pdf">Choose File</label>
      <button class="UpButton">Upload</button>
    </form>
    <h2 id="cof"></h2>
    <div id="quiz"></div>
    <div id="result" class="result"></div>
    <button id="check" class="button">Check</button>
    <button id="retry" class="button hide">Try Again</button>
    <button id="showAnswer" class="button hide">Show Answers</button>
  </div>
  <script type="text/javascript" src="script.js"></script>

</body>
</html>